main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bgColor);
    padding: 30px;
    border: 8px solid var(--bgColor);
    box-shadow: -5px -5px 15px rgba(255,255,255,0.15),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255,255,255,0.15),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    transition: 0.5s;
}