.sideMenu{
    width: 20%;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
        5px 5px 15px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.sideMenu .logo {
    font-family: 'Bauhaus 93';
    position: relative;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    gap: 25px;
    color: transparent; /* Make the font color transparent */
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-background-clip: text; /* Clip background to text */
    background-clip: text; /* Clip background to text */
}

.sideMenu .nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

.sideMenu .nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    gap: 25px;
    transition: 0.5s;
    background: var(--bgColor);
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    transition: 0.5s;
}

.sideMenu .nav li a:hover,
.sideMenu .nav li a.active{
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
        5px 5px 15px rgba(0,0,0,0.35);
}

.sideMenu .social{
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    transition: 0.5s;
}

.sideMenu .social li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    transition: 0.3s;
}

.sideMenu .social li a:hover{
    color: var(--second);
}

.sideMenu .social li .share{
    background: var(--second);
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.3s;
}

.sideMenu .social li .share:hover{
    background: var(--primary);
}